.main-container{
    width: 65vw;
    background-color:#2F4858; 
    color: #F8FFF8 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
.content{
    
    width: 95%;
    padding: 15px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}